services:
  db:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: purcast
      POSTGRES_USER: purcast
      POSTGRES_PASSWORD: purcast
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
