services:
  db:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: podify
      POSTGRES_USER: podify
      POSTGRES_PASSWORD: podify
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
